*.so
*.pyc
*.egg
*.o
/data/KITTI/object/
!data
/.vscode/
/pretrain_pth/
*.dat
build/
*.egg-info
dist/
__pycache__/
rank_0/
*.egg-info/
*.pkl
*.npy
data/
tests
tools/log.txt
.history/
/output
output_1008
.vscode
shape.txt
*.ipynb